on: [push, pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2
    
    - name: Install Dependencies
      run: yarn install

    - name: ESLint check
      run: npx eslint . --ext .js
