name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2

    - name: Tests check
      run: docker-compose run frontend bash -c  "yarn && yarn jest --coverage --passWithNoTests --forceExit"

    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
